<div class="container mt-2">
  <div class="card m-4" style="width: 18rem;" *ngFor="let itom of this._state.recipe"
    routerLink="/dashboard/details/{{itom.creator_id}}">

    <img src={{itom.image_url}} class="card-img-top " alt="..." style="width:200px ; height:150px">

    <div class="card-body">
      <h5 class="card-title"> <b>Product Name :</b>  {{itom.name}}</h5>
      <p class="card-text"> <b>Product Desc. :</b> {{itom.description}} </p>
      <p class="card-text"><b> Product Creator Name :</b> {{itom.creatorName}} </p>
    </div>
  </div>

</div>
